<p>error-page works!</p>
<ul>
    <li>
        <a routerLink="/auth/login">Ir al Auth/Login</a>
    </li>

    <li>
        <a routerLink="/auth/register">Ir al Auth/Register</a>
    </li>

    <li>
        <a routerLink="/heroes/listado">Ir al Heroes/Listado</a>
    </li>

    <li>
        <a routerLink="/heroes/agregar">Ir al Heroes/Agregar</a>
    </li>

    <li>
        <a routerLink="/heroes/editar">Ir al Heroes/Editar</a>
    </li>

    <li>
        <a routerLink="/heroes/buscar">Ir al Heroes/Buscar</a>
    </li>
</ul>