<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav mode="push">
        <mat-toolbar color="primary">
            <span>Menú</span>
            <span class="spacer"></span>
            <button mat-icon-button color="secondary" (click)="sidenav.toggle()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./listado" #btnLink mat-list-item (click)="funcionesNav('Lista de Héroes')">
                <mat-icon mat-list-icon>label</mat-icon>
                <span>Lista de Héroes</span>
            </a>
            <a routerLink="./agregar" mat-list-item (click)="funcionesNav('Agregar Héroe')">
                <mat-icon mat-list-icon>add</mat-icon>
                <span>Agregar Héroe</span>
            </a>
            <a routerLink="./editar" mat-list-item (click)="funcionesNav('Editar Héroe')">
                <mat-icon mat-list-icon>edit</mat-icon>
                <span>Editar Héroe</span>
            </a>
            <a routerLink="./buscar" mat-list-item (click)="funcionesNav('Buscar Héroe')">
                <mat-icon mat-list-icon>search</mat-icon>
                <span>Buscar Héroe</span>
            </a>
        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar color="primary">
        <button mat-icon-button color="secondary" (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <span> {{ title }} </span>
        <span class="spacer"></span>
        <button mat-icon-button color="secondary">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>


<div class="container-fluid">
    <router-outlet></router-outlet>
</div>

</mat-sidenav-container>