<mat-sidenav-container class="sidenav" fullscreen>

    <mat-sidenav #sidenav mode="push">
        <mat-toolbar color="primary">
            <span>Menú</span>
            <span class="spacer"></span>
            <button mat-icon-button color="secondary" (click)="sidenav.toggle()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./listado" #btnLink mat-list-item (click)="funcionesNav('listado')">
                <mat-icon mat-list-icon color="primary">label</mat-icon>
                <span>Lista de Héroes</span>
            </a>
            <a routerLink="./agregar" mat-list-item (click)="funcionesNav('agregar')">
                <mat-icon mat-list-icon color="primary">add</mat-icon>
                <span>Agregar Héroe</span>
            </a>
            <a routerLink="./buscar" mat-list-item (click)="funcionesNav('buscar')">
                <mat-icon mat-list-icon color="primary">search</mat-icon>
                <span>Buscar Héroe</span>
            </a>
        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar color="primary">
        <button mat-icon-button color="secondary" (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <span> {{ title }} </span>
        <span class="spacer"></span>
        <small class="mx-2"> {{ auth.usuario }} </small>

        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
              <mat-icon>meeting_room</mat-icon>
              <span>Logout</span>
            </button>
            <button hidden mat-menu-item>
              <mat-icon>login</mat-icon>
              <span>Login</span>
            </button>
          </mat-menu>

    </mat-toolbar>


<div class="container-fluid">
    <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
</mat-sidenav-container>
