/* .container{
    margin: 10px;
} */

.spacer{
    flex: 1 1 auto;
}

.sidenav{
    /* background-image: url(/assets/fondo-login.jpg); */
    background: rgb(255,255,255);
    background: linear-gradient(196deg, rgba(255,255,255,1) 40%, rgba(243,244,248,1) 55%, rgba(178,181,205,1) 100%, rgba(91,98,149,1) 100%);
}