<div class="container-fluid text-center text-white" style="background-color: #3f51b5;">
    <div class="row d-flex justify-content-center align-items-center" style="min-height: 100px;">
        <div class="col">
            <img _ngcontent-mkf-c4="" id="logo-java" src="https://angular.io/assets/images/logos/angular/shield-large.svg" alt="" style="height: 50px; margin-top: 10px; margin-bottom: 10px;">
            <h4>Hecho con ♥ por Rosyec</h4>
            <small>© 2022 - Todos los derechos reservados </small>
        </div>
    </div>
</div>
